services:
  node1:
    build: .
    container_name: node1
    network_mode: host
    environment:
      - NODE_ID=node1
      - GOSSIP_PORT=7946
      - RAFT_PORT=8300
      - HTTP_ADDR=:8081
      - SECRET_KEY=test-cluster

  node2:
    build: .
    container_name: node2
    network_mode: host
    environment:
      - NODE_ID=node2
      - GOSSIP_PORT=7947
      - RAFT_PORT=8301
      - HTTP_ADDR=:8082
      - SECRET_KEY=test-cluster

  node3:
    build: .
    container_name: node3
    network_mode: host
    environment:
      - NODE_ID=node3
      - GOSSIP_PORT=7948
      - RAFT_PORT=8302
      - HTTP_ADDR=:8083
      - SECRET_KEY=test-cluster
